<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">

    <div class="page-header">
      <h3>
      	<%= current_user %>
	      <% current_user.groups.each do |group| %>
	      	<small><%= group %></small>
	    	<% end %>
			</h3>
    </div>


    <ul id="groups" class="list-group">
      <%= render @training_sessions %>
    </ul>

  </div>
</div>

